:root {
  --primary-color: #f0efef;
  --secondary-color: #6a91cc;
  --text-color: #050505;
  --white-color: #fff;
  --black-color: #000;
  --bg-color: #f5f5f5;
  --wrapper-height: 97vh;
  --header-height: 68px;
  --sidebar-min-width: 54px;
  --gray-color: #d9d9d9;
  --red-color: #ff0000;
  --green-color: #4a934a;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.075);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: var(--text-color);
}

body {
  font-size: 1.6rem;
  font-family: Roboto, sans-serif;
  text-rendering: optimizeSpeed;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
}

.App {
  min-height: 100vh;
  width: 100%;
  background: rgba(195, 195, 220, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
}

.icon-hover:hover {
  cursor: pointer;
  opacity: 0.7;
}

input,
button {
  outline: none;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}

._wrapper_2vs8i_1 {
  background: var(--white-color);
  width: 100%;
  height: 90vh;
}

._body_2vs8i_7 {
  height: calc(100% - var(--header-height));
  position: relative;
  display: flex;
}

._bodyLeft_2vs8i_13 {
  width: 300px;
  list-style: none;
  background: #f0efef;
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 60px;
}

._leftItem_2vs8i_22 {
  padding: 12px 20px;
}

._leftItem_2vs8i_22._active_2vs8i_26 {
  background: var(--white-color);
}

._leftItemTitle_2vs8i_30 {
  font-size: 1.5rem;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

._leftItemText_2vs8i_39 {
  color: var(--gray-color);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.3rem;
}

._btnAddNote_2vs8i_48 {
  position: absolute;
  left: 12px;
  bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white-color);
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.25s;
  z-index: 3;
  box-shadow: 0 2px 4px #0000001a;
}

._btnAddNote_2vs8i_48:hover {
  transform: scale(1.05);
}

._btnAddNote_2vs8i_48:hover ._btnAddNoteIcon_2vs8i_68 i {
  transform: rotate(450deg);
}

._btnAddNoteIcon_2vs8i_68 {
  display: flex;
  font-size: 2.8rem;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

._btnAddNoteIcon_2vs8i_68 i {
  transition: all ease 0.5s;
}

._btnAddNoteText_2vs8i_86 {
  margin-left: 8px;
}

._bodyRight_2vs8i_90 {
  flex: 1;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

._bodyRightHeader_2vs8i_99 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 12px 4px 0;
  width: 100%;
}

._headerTitle_2vs8i_110 {
  line-height: 1;
  padding: 4px 0;
  font-size: 2rem;
  border-radius: 6px;
  margin: 0 0 8px 12px;
}

._headerTime_2vs8i_117 {
  font-size: 1.3rem;
  font-style: italic;
  margin-left: 12px;
}

._headerRightDelete_2vs8i_126,
._headerRightCreate_2vs8i_127 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: all ease 0.25s;
}

._headerRightDelete_2vs8i_126:hover,
._headerRightCreate_2vs8i_127:hover {
  cursor: pointer;
  transform: scale(1.05);
}

._bodyRightContent_2vs8i_141 {
  margin-top: 12px;
  border: 1px solid var(--gray-color);
  padding: 4px 12px;
  border-radius: 6px;
  width: 100%;
  line-height: 1.5;
}

._comments_2vs8i_149 {
  margin-top: 20px;
  max-width: 100%;
  flex: 1;
  overflow-y: scroll;
  position: relative;
  width: 100%;
}

._cmtHeader_2vs8i_158 {
  padding: 4px 12px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  color: var(--gray-color);
  cursor: pointer;
  position: sticky;
  top: 0;
  background: var(--white-color);
}

._cmtHeader_2vs8i_158 ._icon_2vs8i_172 {
  transition: all ease 0.25s;
}

._cmtHeader_2vs8i_158 ._icon_2vs8i_172._active_2vs8i_26 {
  transform: rotate(90deg);
}

._cmtInp_2vs8i_180 {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 4px 12px;
  margin-top: 6px;
  width: 100%;
}

._cmtList_2vs8i_188 {
  margin-top: 12px;
  max-height: 100%;
}

._wrapInpCmt_2vs8i_193 {
  width: 100%;
  display: flex;
  flex-direction: column;
}

._btnSendCmt_2vs8i_198 {
  display: block;
  margin-top: 8px;
  width: 60px;
  margin-left: auto !important;
  background: #f0efef;
}

@media (width < 1200px) {
  ._wrapper_2vs8i_1 {
    width: 100vw;
  }
}

@media (width < 864px) {
  ._wrapper_2vs8i_1 {
    width: 100vw;
    height: 100vh;
  }

  ._bodyLeft_2vs8i_13 {
    position: absolute;
    width: 60px;
    transition: all linear 0.25s;
    z-index: 2;
  }

  ._bodyLeft_2vs8i_13:hover {
    width: 300px;
  }

  ._bodyRight_2vs8i_90 {
    margin-left: 60px;
  }

  ._cmtList_2vs8i_188 {
    padding-bottom: 60px;
  }
}

._header_5waku_1 {
  height: var(--header-height);
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._headerLeft_5waku_9 {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}

._headerLogo_5waku_16 {
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

._headerLogoImg_5waku_24 {
  height: 150%;
  object-fit: contain;
}

._search_5waku_29 {
  flex: 1;
  --height: 32px;
  height: var(--height);
  max-width: 300px;
  justify-self: center;
}

._searchInp_5waku_37 {
  border-radius: 30px;
  border: 1px solid #ccc;
  width: 100%;
  height: var(--height);
  padding: 4px 12px;
}

._headerRight_5waku_45 {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}

._user_5waku_52 {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
  padding: 4px 12px;
  border-radius: 8px;
  animation: _userScale_5waku_1 0.5s ease-in-out;
}

@keyframes _userScale_5waku_1 {
  0% {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

._userAvt_5waku_71 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
  overflow: hidden;
  margin-right: 6px;
}

._userName_5waku_84 {
  font-weight: 500;
}

._btnLogout_5waku_88 {
  color: #000;
  text-decoration: none;
  margin: 0 12px;
  padding: 6px 20px;
  background: var(--primary-color);
  box-shadow: 0 2px 4px #0000001a;
}

@media (width < 864px) {
  ._search_5waku_29 {
    display: none;
  }
}

._wrapper_14aty_1 + ._wrapper_14aty_1 {
  margin-top: 20px;
}

._header_14aty_8 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

._headerLeft_14aty_15 {
  font-size: 1.3rem;
  font-style: italic;
}

._headerRightDelete_14aty_23 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: all linear 0.25s;
}

._headerRightDelete_14aty_23:hover {
  cursor: pointer;
  transform: scale(1.05);
}

._content_14aty_36 {
  padding: 4px 12px;
}

.list {
  position: absolute;
  left: 50px;
  z-index: 1;
}

/* ---------------------------
        Login Page
----------------------------- */
.btn {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0efef;
  text-decoration: none;
}

.btnLogin {
  display: flex;
  align-items: center;
  padding: 4px 20px;
  border-radius: 8px;
  gap: 8px;
  position: relative;
  background: #fff;
}

.loginLogo {
  width: 36px;
  height: 36px;
  animation: slide 1.2s linear forwards;
  z-index: 2;
}

.loginText {
  font-weight: 500;
  transform-origin: left;
  font-size: 1.4rem;
}

.loginText::before {
  content: "";
  position: absolute;
  inset: 0;
  left: 52px;
  background: #f0f0f0;
  border-radius: 0 8px 8px 0;
  animation: textMove 0.6s linear forwards;
  animation-delay: 0.6s;
  transform-origin: left;
}

@keyframes textMove {
  0% {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(0);
  }
}

@keyframes slide {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(130px);
  }

  to {
    transform: translate(0);
  }
}
